<div class="landingpage">
  <p>Champion cutting horse Smart Little Lena was cloned five times in 2006 by Texas A&M University. Offspring sired by
    any of the five would currently not be eligible for registration with the American Quarter Horse Association.

    <p>In 2008, the National Cutting Horse Association passed a rule allowing clones to compete.

    <p>With the Smart Little Lena Clone Syndicate deciding to sell the four Smart Little Lena clones during the World Finals
    Sale held Saturday, Dec. 4 2010, at the John Justin arena, the first clone brought $28,000 – the highest price of the 195
    horses cataloged in the sale. Jack Waggoner, the owner of High Brow Cat, signed the ticket for the beautiful
    4-year-old stallion. An excited Jill Freeman, the wife of Bill Freeman, Smart Little Lena’s trainer who is now
    deceased, was with Waggoner.
  
    <p>The second high seller at $27,000 was also a Smart Little Lena clone, and it was announced from the podium that the
    purchased was a telephone bid. The other two clones were announced as unsuitable for breeding during a vet exam a few
    days prior to the sale. One sold for $3,000 while the other brought $2,400. A fifth clone had died earlier from
    complications of a cancerous tumor.
  
  <img class="center" src="/assets/images/all.jpg">
<div>