<hr>
<div *ngIf="!isVisible">Click Channel Above To Load Messages</div>

<div *ngIf="isVisible" >
  <hr/>
  Messages Here<br/><br/>
  <button (click)="newMessage()" class="newForm"> New Message in apowell</button>

  <div *ngIf="isNew" class="newForm">
    <form>
      Username: (required) <input type="text" name="username" ng-model="username" required><br/>
      Message: (required) <input type="text" name="message" ng-model="message" required><br/>
      Clear Channel?  <input type="checkbox" ng-model="bool.update"> (deletes old channel data)<br/><br/>
      <button (click)="onClickSubmit()" type="submit" value="submit">Submit</button>
    </form>
  </div>

  <ul *ngIf = "isloaded" >
    <li *ngFor="let message of messages">
      <pre>message:{{message | json}}</pre>
    </li>
  </ul>

</div>

