<div>
  <hr/>
  <p>
    New Message Here
  </p>

  <label for="username">Username: </label>
  <input id="username" type="text" [formControl]="usernameCtrl">
  Entry: {{usernameCtrl.value}}
  <br/>
  <label for = "message">Message:</label>
  <input id  = "message" type="text" [formControl]="messageCtrl">
  Entry: {{messageCtrl.value}}
  <br/><br/>
  <button type="button" (click)="onSubmit()"> Submit</button>
  <label for = "update"> Update?</label>
  <input id = "update" type="checkbox" [formControl]="updateCtrl">
</div>
